<!DOCTYPE html>
<html>
<head>
    <title>Fruits Food Balance</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
    <div class="hero">
        <div class="hero__content">
            <h1>Check the nutritions of the fruit you are about to eat !</h1>
            <form action="/" method="POST">
                <input id="input" type="text" name="name" placeholder="Banana...">
                <button>Check</button>
            </form>
        </div>
    </div>

</body>
<script src="/public/js/main.js"></script>
</html>